* {
  box-sizing: border-box;
}
body{
  font-family:"Nunito",arial,sans-serif;
}
body,
h1,
h2,
h3,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.titulo {
  font-size: 4rem;
  padding: 32px;
  font-family: "MuseoModerno", arial, sans-serif;
}

/* informaçoes superiores */
.superinfo-bg {
  background: #300237;
}
.superinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.superinfo p,
.superinfo a {
  color: #ffffff;
  padding: 12px;
  font-family: "MuseoModerno", arial, sans-serif;
}
.superinfo a:hover {
  transform: scale(1.2);
}
/* header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0px;
}
.menu a {
  padding: 10px;
  margin-right: 20px;
  font-size: 2rem;
  color: #333333;
  position: relative;
  font-family: "MuseoModerno", arial, sans-serif;
  font-weight: bold;
}
.menu a::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 5px;
  background-color: #300237;
  position: absolute;
  top: 50px;
  transition: all 0.3s;
}
.menu a:hover::before {
  width: 90%;
}

/* seção salão imagem */
.section-header-imagem {
  object-fit: cover;
  margin: 32px auto 0;
}

/* sobre */
.sobre-bg {
  background: #141414;
}
.sobre {
  display: flex;
  flex-wrap: wrap;
}
.sobre-conteudo {
  flex: 1 1 260px;
  padding: 32px;
  align-self: center;
}
.sobre-conteudo h1 {
  color: #f5f5f5;
}
.sobre-conteudo p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #cccccc;
  min-width: 35ch;
}
.sobre-imagem {
  flex: 1 2 300px;
  margin: 60px;
}
.sobre-imagem img {
  border-radius: 4px;
}

/* produto */
.produto-bg {
  background: #f5f5f5;
}
.produto-bg h1 {
  color: #141414;
  margin: 60px;
}
.produto {
  display: flex;
  flex-wrap: wrap;
}
.produto-img {
  flex: 1 2 260px;
  max-width: 360px;
  margin-left: 60px;
  margin-bottom: 60px;
}
.produto-img img {
  border-radius: 4px;
}
.produto-conteudo h2 {
  font-size: 3rem;
  margin: 32px;
}
.produto-conteudo p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #333333;
  max-width: 40ch;
  margin-left: 32px;
}
.produto-conteudo a {
  display: inline-block;
  margin: 32px;
  padding: 16px 32px;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  color: #f5f5f5;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
}
.produto-conteudo a:hover {
  background: #300237;
}

/* servicos */

.servicos-bg {
  background: #141414;
}
.servicos-bg h1 {
  color: #f5f5f5;
  padding: 60px;
}
.servicos {
  display: flex;
  flex-wrap: wrap;
}
.servicos-item {
  flex: 1 1 260px;
  margin: 0 32px;
}
.servicos-item img {
  border-radius: 4px;
}
.servicos-item h3 {
  margin: 16px 0px;
  color: #ffffff;
}
.servicos-item p {
  margin-bottom: 32px;
  color: #cccccc;
}
.servicos-item a {
  display: inline-block;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  color: #f5f5f5;
  padding: 16px 32px;
  margin-bottom: 60px;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.servicos-item a:hover {
  background: #300237;
}
/* depoimentos */

.depoimentos-bg{
  background: #f5f5f5;
}
.depoimentos{
  display: flex;
  flex-wrap: wrap;
}
.depoimentos-item{
  flex: 1 1 260px;
  padding: 32px;
  text-align: center;
}
.depoimentos-item img{
  border-radius: 50%;
}
.depoimentos h3,p{
  font-style: italic;
}

/* footer */
.footer-bg{
  background: #141414;
  color: #ffffff;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
.redes{
  display: flex;
  flex-wrap: wrap;
}
.redes img{
  margin-right: 32px;
}
.footer p{
  font-size: 1.25rem;
  font-weight: bold;
  padding: 8px;
}
