* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", arial, sans-serif;
}
body,
h1,
h2,
h3,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.titulo {
  font-size: 4rem;
  padding: 32px;
  font-family: "MuseoModerno", arial, sans-serif;
}
/* header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu a {
  padding: 10px;
  font-size: 2rem;
  color: #333333;
  position: relative;
  font-family: "MuseoModerno", arial, sans-serif;
  font-weight: bold;
}
.menu a::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 5px;
  background-color: #300237;
  position: absolute;
  top: 50px;
  transition: all 0.3s;
}
.menu a:hover::before {
  width: 90%;
}
/* seção salão imagem */
.section-header-imagem {
  object-fit: cover;
  margin: 0 auto;
  background: url("../img/fundo-header.jpg") fixed;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
}

/* sobre */
.sobre-bg {
  background: #141414;
}
.sobre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sobre-conteudo {
  flex: 2 1 260px;
  padding: 32px;
  align-self: center;
}
.sobre-conteudo h1 {
  color: #f5f5f5;
  position: relative;
}
.sobre-conteudo h1::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 50px;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  position: absolute;
  top: 60px;
  left: 20px;
}
.sobre-conteudo p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #cccccc;
}
.sobre-imagem {
  flex: 1 1 300px;
  margin: 60px;
}
.sobre-imagem img {
  border-radius: 4px;
}

/* produto */
.produto-bg {
  background: #f5f5f5;
}
.produto-bg h1 {
  color: #141414;
  padding: 60px;
  position: relative;
}
.produto-bg h1::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 50px;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  position: absolute;
  top: 85px;
  left: 50px;
}
.produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.produto-img {
  flex: 0 1 260px;
  margin: 30px;
}
.produto-img img {
  border-radius: 4px;
}
.produto-conteudo h2 {
  font-size: 3rem;
  margin: 16px;
}
.produto-conteudo p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #333333;
  max-width: 35ch;
  padding:8px;
}
.produto-conteudo a {
  display: inline-block;
  margin: 32px;
  padding: 16px 32px;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  color: #f5f5f5;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
}
.produto-conteudo a:hover {
  background: #300237;
}

/* servicos */

.servicos-bg {
  background: #141414;
}
.servicos-bg h1 {
  color: #f5f5f5;
  padding: 60px;
  position: relative;
}
.servicos-bg h1::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 50px;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  position: absolute;
  top: 85px;
  left: 45px;
}
.servicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.servicos-item {
  flex: 0 1 260px;
  padding: 16px;
}
.servicos-item img {
  border-radius: 4px;
  
}
.servicos-item h3 {
  margin: 16px 0px;
  color: #ffffff;
}
.servicos-item p {
  margin-bottom: 32px;
  color: #cccccc;
}
.servicos-item a {
  display: inline-block;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  color: #f5f5f5;
  padding: 16px 32px;
  margin-bottom: 60px;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.servicos-item a:hover {
  background: #300237;
}
/* depoimentos */

.depoimentos-bg {
  background: #f5f5f5;
}
.depoimentos-bg h1 {
  position: relative;
}
.depoimentos-bg h1::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 50px;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  position: absolute;
  top: 55px;
  left: 20px;
}
.depoimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.depoimentos-item {
  flex: 0 1 260px;
  padding: 32px;
  text-align: center;
  max-width: 300px;
}
.depoimentos-item img {
  border-radius: 50%;
}
.depoimentos h3{
  padding: 8px 0;
}
.depoimentos h3,
p {
  font-style: italic;
}

/* footer */
.footer-bg {
  background: #141414;
  color: #cccccc;
}
.footer-bg h1 {
  color: #ffffff;
  position: relative;
}
.footer-bg h1::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 50px;
  background: linear-gradient(180deg, #761685 0%, #300237 100%);
  position: absolute;
  top: 60px;
  left: 20px;
}
.footer-bg a {
  color: #ffffff;
  font-weight: bold;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-info p {
  padding: 8px;
}
.footer-redes {
  display: flex;
  gap: 32px;
  padding: 16px 0;
}
.footer-atendimento h3 {
  color: #cccccc;
  font-size: 1.5rem;
}
.footer-atendimento p {
  padding: 8px 0;
  color: #f5f5f5;
}

/* media */
@media (max-width: 1000px) {
  .header {
    justify-content: center;
  }
  .sobre-conteudo h1::before,
  .produto-bg h1::before,
  .servicos-bg h1::before,
  .depoimentos-bg h1::before,
  .footer-bg h1::before {
    display: none;
  }
  .produto-img {
    margin: 0 auto;
    padding: 30px;
  }
}
@media (max-width: 800px) {
  .menu {
    justify-content: center;
  }
  .section-header-imagem{
    height:300px;
  }
  .titulo {
    text-align: center;
    font-size: 3rem;
  }
  .sobre-conteudo p,
  .produto-conteudo p {
    max-width: 260px;
  }
  .produto-conteudo a{
    display: block;
    max-width: max-content;
    margin: 16px auto;
  }
  .servicos-item {
    max-width: 80%;
    margin: 0 auto;
  }
  .depoimentos-item {
    margin: auto;
  }
}
